{% extends 'base/base.html' %}
{% load static %}
{% block pageTitle %}{{ extensionprogram.title }}{% endblock pageTitle %}
{% block pageResources %}
<!-- Owl Stylesheet -->
<link rel="stylesheet" href="{% static 'assets/owlcarousel/owlcarousel/assets/owl.carousel.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/owlcarousel/owlcarousel/assets/owl.theme.default.min.css' %}">

<!-- JavaScript -->
<script src="{% static 'assets/owlcarousel/vendors/jquery.min.js' %}"></script>
<script src="{% static 'assets/owlcarousel/owlcarousel/owl.carousel.js' %}"></script>
{% endblock pageResources %}
{% block pageContent %}

<!-- Header Start -->
<div class="container-fluid bg-primary py-5 mb-5 page-header"
    style="background: url({%static 'base/img/epp.png'%});">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-10 text-center">
                <h1 class="display-3 text-white animated slideInDown">{{ extensionprogram.title }}</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center">
                        <li class="breadcrumb-item"><a class="text-white" href="#">Home</a></li>
                        <li class="breadcrumb-item"><a class="text-white" href="#">Extension Programs</a></li>
                        <li class="breadcrumb-item text-white active" aria-current="page">{{ extensionprogram.title }}
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- Header End -->

<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                <div class="position-relative h-100">
                    <img class="img-fluid" src="{% static 'base/img/default-background.png'%}" alt="">
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                <h6 class="section-title bg-white text-start text-primary pe-3">About the Program</h6>
                <h1 class="mb-4">{{ extensionprogram.title }}</h1>
                <p class="mb-4">{{extensionprogram.description | safe}}</p>
            </div>
        </div>
    </div>
</div>
<!-- About End -->

<!-- Projects Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-4 justify-content-center">
            {% for extensionproject in extensionproject %}
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-graduation-cap text-primary mb-4"></i>
                        <h5 class="mb-3">{{ extensionproject.title }}</h5>
                        <p>{{ extensionproject.shortdescription }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- Projects End -->

<!-- Files Start -->
{% if request.user.is_authenticated and request.user.is_superuser or request.user.is_facilitator %}
{% if programfiles_count > 0%}
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">Files</h6>
            <h1 class="mb-5">Extension Program Files</h1>
        </div>
        <div class="row g-4 justify-content-center">
            {% for extensionprogram_file in extensionprogram_files %}
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        {% if extensionprogram_file.file.url|slice:"-4:" == ".doc" or extensionprogram_file.file.url|slice:"-5:" == ".docx" %}
                        <img class="img-fluid" src="{% static 'base/img/doc.png'%}" width="30px" alt="">
                        {% elif extensionprogram_file.file.url|slice:'-4:' == ".pdf"%}
                        <img class="img-fluid" src="{% static 'base/img/pdf.png'%}" width="30px" alt="">
                        {% elif extensionprogram_file.file.url|slice:'-4:' == ".ppt" or extensionprogram_file.file.url|slice:'-5:' == ".pptx" %}
                        <img class="img-fluid" src="{% static 'base/img/ppt.png'%}" width="30px" alt="">
                        {% elif extensionprogram_file.file.url|slice:'-4:' == 'xls' or extensionprogram_file.file.url|slice:'-5:' == ".xlsx" %}
                        <img class="img-fluid" src="{% static 'base/img/xls.png'%}" width="30px" alt="">
                        {% endif %}
                        <small class="mb-3"><a href="http://127.0.0.1:8000{{ extensionprogram_file.file.url }}"
                            target="_blank">{{extensionprogram_file.title}}</a></small>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}
{% endif %}
<!-- Files End -->

<!-- Team Start -->
<div class="container-xxl py-5">
    <div class="container">
        {% if facilitator_count > 0 %}
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">Team</h6>
            <h1 class="mb-5">Meet the Team</h1>
        </div>
        <div class="row g-4 justify-content-center">
            {% if facilitator_count > 4 %}
            <div class="owl-carousel">
                {% for extensionprogram_member in facilitator_list %}
                <div class="item col-lg-10 col-md-12 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="team-item bg-light">
                        <div class="overflow-hidden text-center">
                            <img class="img-fluid" src="{{ MEDIA_URL }}/default/default-profile.jpg" alt="">
                        </div>
                        <div class="text-center p-4">
                            <h5 class="mb-0">{{extensionprogram_member.member.first_name}}
                                {{extensionprogram_member.member.last_name}}</h5>
                            <small>Designation</small>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% else %}
            {% for extensionprogram_member in facilitator_list %}
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="team-item bg-light">
                    <div class="overflow-hidden text-center">
                        <img class="img-fluid" src="{% if user.profile.avatar %}{{ user.profile.avatar.url }}{% else %}{{ MEDIA_URL }}/default/default-avatar.png{% endif %}">
                    </div>
                    <div class="text-center p-4">
                        <h5 class="mb-0">{{extensionprogram_member.member.first_name}}
                            {{extensionprogram_member.member.last_name}}</h5>
                        <small>Software Developer</small>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% endif %}

            {% else %}
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="section-title bg-white text-center text-primary px-3">Team</h6>
                <h5 class="mb-5">This section is currently empty.</h5>
            </div>
            {% endif %}
        </div>
    </div>
</div>
<!-- Team End -->
{% endblock pageContent %}
{% block ScriptBlock %}
<script>
    var owl = $('.owl-carousel');
    owl.owlCarousel({
        margin: 10,
        autoplay: true,
        autoplaySpeed: 1000,
        loop: true,
        responsive: {
            0: {
                items: 1
            },
            600: {
                items: 2
            },
            1000: {
                items: 4
            }
        }
    })
</script>
{% endblock ScriptBlock %}