{% extends 'base/base.html' %}
{% load static %}
{% load humanize %}
{% block pageTitle %} Workshops {% endblock pageTitle %}
{% block pageContent %}

<!-- Header Start -->
<div class="container-fluid bg-primary py-5 mb-5 page-header"
    style="background: url({%static 'base/img/ban/bn/banner.png'%});">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-10 text-center">
                <h1 class="display-3 text-white animated slideInDown">Workshops</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center">
                        <li class="breadcrumb-item"><a class="text-white" href="#">Home</a></li>
                        <li class="breadcrumb-item"><a class="text-white" href="#">Pages</a></li>
                        <li class="breadcrumb-item text-white active" aria-current="page">Workshops</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- Header End -->

<!-- Workshops Start -->
<div class="container-xxl py-5">
    <div class="container">
        {% if workshop_count > 0%}
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h1 class="mb-5">Workshops</h1>
            <!--<form method="POST" action="{% url 'search-query' %}">
                <center>
                    <div class="col-md-4">
                        <div class="input-group mb-3">
                            {% csrf_token %}
                            <input type="search" class="form-control" placeholder="Search" aria-label="Search"
                                name="searched" aria-describedby="basic-addon2">
                                
                            <div class="input-group-append">
                                <button class="input-group-text btn btn-primary" id="basic-addon2"><i
                                        class="fas fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                </center>
            </form>-->
        </div>
        <div class="row g-4 justify-content-center my-5">
            {% for workshop in workshop_list %}
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
				<div class="course-item bg-white shadow p-3 mb-5 rounded" style="height: 440px">
                    <div class="position-relative overflow-hidden">
                        <img class="img-fluid" src="{{ workshop.image.url}}" alt="">
                        <div class="w-100 d-flex justify-content-center position-absolute bottom-0 start-0 mb-4">
                            <a href="{% url 'workshop-detail' workshop.slug workshop.id %}" class="flex-shrink-0 btn btn-sm btn-primary px-3 border-end"
                                style="border-radius: 30px 0 0 30px;">Read More</a>
                        </div>
                    </div>
                    <div class="text-center p-4 pb-0" style="height: 200px">
                        <h5 class="mb-4">{{ workshop.title}}</h5>
                        {% if workshop.shortdescription %}<small class="description">{{ workshop.shortdescription|safe}}</small>{% endif %}
                    </div>
                    <div class="d-flex">
                        <small class="flex-fill text-center border-end py-2"><i
                            class="fa fa-user-tie text-primary me-2"></i>
                            {% for workshopfacilitator in workshopfacilitator_list %}	
                            {% if workshopfacilitator.workshop == workshop %}
                                {{ workshopfacilitator.facilitator }}
                            {% endif %}
                            {% endfor %}
                        </small>
                            
                        <small class="flex-fill text-center py-2"><i
                            class="fa fa-clock text-primary me-2"></i>{{ workshop.duration }}</small>
                        </div>
                </div>
            </div>
            {% endfor %}
            {% if workshop_list.has_other_pages %}
            <nav aria-label="Page navigation container wow fadeInUp"></nav>
            <ul class="pagination justify-content-center wow fadeInUp">
                {% if workshop_list.has_previous %}
                <li><a href="?page={{ workshop_list.previous_page_number }}"
                        class="btn btn-primary page-link wow fadeInUp">&laquo; Prev </a></li>
                {% endif %}
                {% if workshop_list.has_next %}
                <li><a href="?page={{ workshop_list.next_page_number }}" class="btn btn-primary page-link wow fadeInUp">
                        Next &raquo;</a></li>
                {% endif %}
            </ul>
            </nav>
        </div>
            {% endif %}
    {% else %}
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
        <h6 class="section-title bg-white text-center text-primary px-3">Workshops</h6>
        <h5 class="mb-5">This section is currently empty.</h5>
    </div>
    {% endif %}
    </div>
</div>
<!-- Workshop End -->
{% endblock pageContent %}